{% extends "base.html" %}

{% block title %}אודות{% endblock %}

{% block content %}
<main>
    <style>
        .about-section {
            background-color: #f9f9f9;
            border: 1px solid #ccc;
            border-radius: 8px;
            padding: 20px;
            margin-bottom: 20px;
            direction: rtl; /* Right-to-left text direction */
            text-align: justify; /* Justify text alignment */
        }

        .about-section h2 {
            color: #337ab7; /* Text color for header */
            border-bottom: 2px solid #337ab7; /* Different color for header */
            padding-bottom: 5px;
            margin-bottom: 10px;
            text-align: right; /* Align header text to the right */
            direction: ltr; /* Left-to-right direction for header text */
            margin-right: -15px; /* Adjust margin to align with right side */
            padding-right: 15px; /* Adjust padding for spacing */
        }

        .rtl-text {
            text-align: right; /* Ensure text alignment is right-to-left */
        }
    </style>

    <section class="about-section">
        <h2 class="rtl-text">אודות</h2>
        <p class="rtl-text">
            בשבילי חיפה היא התארגנות קהילתית סביבתית שהוקמה בשנת 2020 עם פרוץ מגיפת הקורונה, כיוזמה עצמאית שהזמינה חברים לצאת לטבע, לטייל ולשהות בו.
        </p>
        <p class="rtl-text">
            היוזמה הפכה למיזם חברתי קהילתי מוביל בעיר בהשתתפות תושבים המובילים בהתנדבות סיורים בוואדיות חיפה ובשלוחותיהם, בנחלים ובמרחבי הטבע.
        </p>
        <p class="rtl-text">
            פעילויותיה של הקבוצה מסייעות משמעותית להעלאת המודעות לוואדיות חיפה ולשיח העירוני בנושא, ועונות על הצורך הגובר בחיבור לטבע ולדרישה הציבורית לשמור על שטחים פתוחים ירוקים.
        </p>
        <p class="rtl-text">
            בנוסף לסיורים, מובילים חברי הקבוצה פרויקטים סביבתיים רבים ושיתופי פעולה עם ארגוני סביבה, מוסדות אקדמיה, עמותות וגופים עסקיים.
        </p>
        <p class="rtl-text">
            למעוניינים להצטרף למובילי הסיורים או לפרויקט קיים, ניתן לצור קשר בפייסבוק או במייל.
        </p>
    </section>

</main>
{% endblock %}
