{% extends "base.html" %}

{% block title %}רישום לסיור{% endblock %}

{% block content %}
<main class="rtl-text">
    <section id="registration-form">
        <h1> </h1>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th class="text-right">שם הסיור</th>
          <th class="text-right">שביל</th>
          <th class="text-right">תאריך</th>
          <th class="text-right">שעה</th>
          <th class="text-right">פרטים</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td class="text-right">{{ tour[0] }}</td>
            <td class="text-right">{{ tour[1] }}</td>
            <td class="text-right">{{ tour[2] }}</td>
            <td class="text-right">{{ tour[3] }}</td>
            <td class="text-right">{{ tour[4] }}</td>
          </tr>
      </tbody>
    </table>
        <h2>רישום לסיור</h2>
        <form method="POST" action="{{ url_for('register', tour_title=tour[0]) }}">
            <div class="form-group">
                <label for="full_name">שם מלא:</label>
                <input type="text" id="full_name" name="full_name" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="phone_number">מספר טלפון:</label>
                <input type="text" id="phone_number" name="phone_number" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="number_of_participants">מספר אנשים:</label>
                <input type="number" id="number_of_participants" name="number_of_participants" class="form-control" min="1" step="1" required>
            </div>

            <div class="form-group">
                <label for="comments">הערות:</label>
                <textarea id="comments" name="comments" rows="4" cols="50" class="form-control"></textarea>
            </div>

            <button type="submit" class="btn btn-primary">רישום</button>
        </form>
    </section>
</main>
{% endblock %}
