{% extends "base.html" %}

{% block title %}צפייה בהודעות{% endblock %}

{% block content %}
<main>
    <div class="text-right">
        <a href="{{ url_for('admin_dashboard') }}" class="back-btn">חזרה ללוח בקרה</a>
    </div>
    <section id="view-messages">
        <h1>צפייה בהודעות</h1>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>שם מלא</th>
                    <th>דוא"ל</th>
                    <th>טלפון</th>
                    <th>הודעה</th>
                </tr>
            </thead>
            <tbody>
                {% for message in messages %}
                <tr>
                    <td>{{ message[0] }}</td>  <!-- ID -->
                    <td>{{ message[1] }}</td>  <!-- Fullname -->
                    <td>{{ message[2] }}</td>  <!-- Email -->
                    <td>{{ message[3] }}</td>  <!-- Phone -->
                    <td>{{ message[4] }}</td>  <!-- Message -->
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</main>

<style>
    #view-messages {
        direction: rtl;
        text-align: right;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    table, th, td {
        border: 1px solid black;
    }

    th, td {
        padding: 10px;
        text-align: center;
    }

    th {
        background-color: #f4f4f4;
    }
    .back-btn {
        display: inline-block;
        margin-bottom: 15px;
        padding: 10px 15px;
        background-color: rgb(52, 160, 164);
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
    }

    .back-btn:hover {
        background-color: #168AAD;
    }
</style>
{% endblock %}
